<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% include 'snippets/css.html' %}
    <title>ToDoList</title>
</head>
<body>
    <div class="grid-container">
        <div class="grid-header shadow">
            <h4>ToDoList</h4>
            <!-- Colored FAB button with ripple -->
            <a href="/add/">
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored add-entry-button shadow">
                    <i class="material-icons">add</i>
                </button>
            </a>
        </div>
        <div class="grid-main shadow">
            {% block content %}{% endblock content %}
        </div>
    </div>
    {% include 'snippets/js.html' %}
</body>
</html>