<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% include 'snippets/css.html' %}
    <title>ToDoList</title>
</head>
<body>
    <div class="grid-container">
        <div class="grid-header shadow">
            <h4>ToDoList</h4>
            <div class="nav">
                <a href="{% url 'todos:home' %}">
                    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored shadow">
                        <i class="material-icons">home</i>
                    </button>
                </a>
                <a href="{% url 'todos:add' %}">
                    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored shadow">
                        <i class="material-icons">add</i>
                    </button>
                </a>
            </div>
        </div>
        <div class="grid-main shadow">
            {% block content %}{% endblock content %}
        </div>
    </div>
    {% include 'snippets/js.html' %}
</body>
</html>