/* Grid */

.grid-header {
    grid-area: header;
}

.grid-main {
    grid-area: main;
}

.grid-container {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        ". header ."
        ". main ."
}

.grid-item {
    background: #6e6e6e83;
}